.hero {
  height: 85vh; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('../assets/Image-hero.jpeg') center/cover no-repeat;
  background-position: 50% 10%;
  color: white;
  position: absolute;
  top: 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2));
  z-index: 1;
}

.hero-text{
  z-index: 2;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}