.hero {
  background: url("../assets/Image-hero.jpeg") center/cover no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
}

.hero-overlay {
  background: rgba(0,0,0,0.55);
  padding: 2rem;
  border-radius: 10px;
  max-width: 800px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}