.hero {
  position: relative;
  background: url("../assets/Image-hero.jpeg") center/cover no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  max-width: 800px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}