.ribbon{
  background: linear-gradient(to right, #2b9bd5, #449bc7);
  width: 100%;
  height: 2em;
  display: flex;              /* enable flexbox */
  align-items: center;        /* vertical center */
  justify-content: center;    /* horizontal center (optional) */
  color: white;               /* make text/icons white */
  font-size: 1em;             /* adjust text size */
}

.ribbon-elements{
  display: flex;
  flex-direction: row;
  gap: 1em;                   /* space between elements */
  list-style: none;           /* remove default list styling */
}

.navbar {
  background: transparent;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.navbar a {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}


.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.7rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo img {
  height: 40px;
}

.navbar-logo-text{
  height: 50px;
  line-height: 55px;
  display: flex;
  align-items: end;
  font-size: 1.6em;
  font-weight: 600;
  color: rgb(217 215 215);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 1s ease;   
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: white; /* when overlaying hero */
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar.scrolled .navbar-logo-text,
.navbar.scrolled .nav-links a{
  color: #0A1F44;       
}


.nav-links a:hover {
  color: #ff6600;
}